.track-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 15px;
  background: var(--background-elements-color);
  transition: background 0.1s ease-in-out;

  &.play {
    background: var(--background-second-elements-color);
  }

  &:hover {
    background: var(--background-elements-hover-color);
  }

  .track-info {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    b {
      font-size: 12px;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;

      span {
        font-weight: 600;
      }
    }
  }

  button {
    margin: 0 5px;
  }

  img {
    border-radius: 8px;
    margin: 0 5px;
    user-select: none;
  }

  .play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: var(--background-block-color);

    border-radius: 50%;
    transition: background 0.1s ease-in-out;

    span {
      &.play-img {
        border: 7px solid transparent;
        border-left: 14px solid rgb(181, 181, 181);
        transform: translateX(25%);
        width: 0;
        height: 0;
      }

      &.pause-img {
        display: block;
        height: 15px;
        width: 11px;
        border-left: 3px solid rgb(181, 181, 181);
        border-right: 3px solid rgb(181, 181, 181);
      }
    }

    &:hover {
      border: none;
      outline: none;

      span {
        &.play-img {
          border-left: 14px solid rgb(255, 255, 255);
        }

        &.pause-img {
          border-left: 3px solid rgb(255, 255, 255);
          border-right: 3px solid rgb(255, 255, 255);
        }
      }
    }
  }

  .like-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
    border-radius: 50%;
    margin-left: 10px;
  }

  img {
    margin-right: 10px;
  }
}

.artist-list {
  display: flex;

  span {
    margin-right: 0.2rem;
  }

  .artist-list__text {
    opacity: .4;
    &:hover {
      opacity: 1;
    }
  }
}
