.auth-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px #aaaaaa;
  gap: 10px;
  padding: 2rem;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.auth-input {
  font-size: 1rem;
  padding: 15px 10px;
  border: 1px solid black;
  border-radius: 10px;
  width: 300px;
}

.auth-button {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  background: #21bf21;
  width: 100%;

  &:hover {
    background: #1eaa1e;
  }

  &:active {
    background: #21bf21;
  }
}

.link {
  text-decoration: underline;
}

.error-message {
  color: red;
  background: pink;
  padding: 10px;
}