.track-controller {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 0;
  padding: 10px 10px;
  background: var(--background-block-color);
  z-index: 10;
  gap: 10px;

  transition: .2s transform;

  &.hidden {
    transform: translateY(100%);
  }

  .hide-button {
    position: absolute;
    background: var(--background-block-color);
    right: 10px;
    padding: 1px 15px;
    border: 1px solid black;
    font-size: 1.2rem;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    bottom: 100%;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 4px;
    background: var(--background-elements-hover-color);
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      background-color: var(--background-second-elements-color);
      height: 12px;
      width: 12px;
      border-radius: 50%;
    }
  }

  .track-controller__controller {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 70%;

    .track-controller__controls {
      display: flex;
      justify-content: space-between;

      .controls {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .left-next, .right-next {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--background-second-elements-color);
        border-radius: 50%;
        width: 36px;
        height: 36px;

        div {
          position: absolute;
          width: 3px;
          height: 12px;
        }

        &:after, &:before {
          border: 6px solid transparent;
          content: "";
          width: 0;
          height: 0;
        }
      }

      .left-next {
        div {
          background: var(--main-text-color);
          transform: translateX(-250%);
        }

        &:after {
          border-right: 9px solid var(--main-text-color);
          transform: translateX(-40%);
        }

        &:before {
          border-right: 9px solid var(--main-text-color);
          transform: translateX(10%);
        }

        &:hover {
          div {
            background: white;
          }

          &:after {
            border-right: 9px solid white;
          }

          &:before {
            border-right: 9px solid white;
          }
        }
      }

      .right-next {
        div {
          background: var(--main-text-color);
          transform: translateX(250%);
        }

        &:after {
          border-left: 9px solid var(--main-text-color);
          transform: translateX(-10%);
        }

        &:before {
          border-left: 9px solid var(--main-text-color);
          transform: translateX(40%);
        }

        &:hover {
          div {
            background: white;
          }

          &:after {
            border-left: 9px solid white;
          }

          &:before {
            border-left: 9px solid white;
          }
        }
      }

      .play-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: var(--background-second-elements-color);

        border-radius: 50%;
        transition: background 0.1s ease-in-out;

        span {
          &.play-img {
            border: 7px solid transparent;
            border-left: 14px solid var(--main-text-color);
            transform: translateX(25%);
            width: 0;
            height: 0;
          }

          &.pause-img {
            display: block;
            height: 15px;
            width: 11px;
            border-left: 3px solid var(--main-text-color);
            border-right: 3px solid var(--main-text-color);
          }
        }

        &:hover {
          border: none;
          outline: none;

          span {
            &.play-img {
              border-left: 14px solid white;
            }

            &.pause-img {
              border-left: 3px solid white;
              border-right: 3px solid white;
            }
          }
        }
      }
    }
  }

  .track-controller__track-info {
    display: flex;
    gap: 10px;

    .track-description {
      overflow: hidden;
      position: relative;

      .track-description__title-container, .track-description__artists-container {
        position: relative;
        height: 24px;
        width: 250px;

        .scroll-text {
          animation: scroll-text 15s linear infinite;
        }
      }

      .track-description__title {
        position: absolute;
        text-wrap: nowrap;
        font-size: 20px;
      }

      .track-description__artists {
        position: absolute;
        display: flex;
        text-wrap: nowrap;
        font-size: 16px;

        .track-description__artist {
          cursor: pointer;
        }

        .track-description__artist, span {
          opacity: .5;
        }

        .track-description__artist:hover {
          opacity: 1;
        }
      }
    }
  }

  .volume-controls {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;

    .volume-value {
      width: 20px;
    }
  }
}
