
.artist-searcher {
  position: relative;
}

.artist-search-wrapper {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.artist-search-list {
  margin-top: .5rem;
  display: flex;
  flex-direction: column;


  background: var(--background-elements-color);

  max-height: 400px;
  overflow: hidden;
  overflow-y: scroll;
}

.artist-search-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid var(--background-second-elements-color);

  &:last-child {
    border-bottom: none;
  }

  cursor: pointer;

  &:hover {
    background: var(--background-elements-hover-color);
  }

  &:active {
    background: var(--background-second-elements-color);
  }

  img {
    width: 60px;
    height: 60px;
  }
}