header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  background: linear-gradient(135deg, #7a7af5, #00a4be);
  user-select: none;
  z-index: 99;
  margin-bottom: 1rem;

  .header-left {
    cursor: pointer;
    margin-left: 30px;
    width: 20%;
    h2 {
      margin: 0;
    }
  }

  .search {
    margin: 0 30px;
    width: 30%;
    input {
      width: 100%;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }

  .header-right {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .navigation-left {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 70%;

      span {
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 2px;
          background: black;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s;
        }

        &:hover {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }

    .navigation-right {
      display: flex;
      flex-direction: column;
      margin: 0 30px;
      span {
        &:hover {
          text-decoration: underline;
        }
      }

      .login-btn {
        background: rgb(0, 110, 255);
        border-radius: 10px;
        padding: 0.5rem;
      }
    }
  }
}
