header {
  width: 100%;
  background: linear-gradient(135deg, #7a7af5, #00a4be);

  display: grid;
  grid-template-columns: min-content auto 40% 10%;
  gap: 100px;

  padding: 10px 30px;

  user-select: none;
  z-index: 99;

  span {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s;
    }

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  .header-logo {
    align-self: center;
  }

  .navigation {
    display: flex;
    align-items: center;
    gap: 50px;

    #main {
      font-size: 20px;
    }

    span {
      font-size: 18px;
    }
  }

  .user-nav {
    position: relative;
    justify-self: right;
  }

  .search-section {
    align-self: center;

    .search, .search-button {
      padding: 10px;
      font-size: 18px;

    }

    .search {
      width: 60%;
      border-radius: 5px 0 0 5px;
    }

    .search-button {
      border-radius: 0 5px 5px 0;
      background: #287b84;
      color: white;
    }
  }

}
