* {
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  outline: none;
}

li {
  list-style: none;
}

.error-message {
  color: red;
  background: pink;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border: none;
}

.play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  transition: background 0.1s ease-in-out;

  span {
    &.play-img {
      border: 10px solid transparent;
      border-left: 20px solid rgb(181, 181, 181);
      transform: translateX(25%);
      width: 0;
      height: 0;
    }

    &.pause-img {
      display: block;
      height: 20px;
      width: 14px;
      border-left: 4px solid rgb(181, 181, 181);
      border-right: 4px solid rgb(181, 181, 181);
    }
  }

  &:hover {
    border: none;
    outline: none;

    span {
      &.play-img {
        border-left: 20px solid rgb(255, 255, 255);
      }

      &.pause-img {
        border-left: 3px solid rgb(255, 255, 255);
        border-right: 3px solid rgb(255, 255, 255);
      }
    }
  }
}

.three-dot-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: black;

    .three-dot {
      background: white;

      &::before {
        content: '';
        background: white;
      }

      &::after {
        content: '';
        background: white;
      }
    }
  }

  .three-dot {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #d2d2d2;

    &::before {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background: rgb(210, 210, 210);
      border-radius: 50%;
      transform: translateY(-150%);
    }

    &::after {
      content: '';
      display: block;
      width: 4px;
      height: 4px;
      background: rgb(210, 210, 210);
      border-radius: 50%;
      transform: translateY(50%);
    }
  }
}

.hide-text {
  font-size: 0;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

footer {
  height: 300px;
}